<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd">
  <coverage>
    <report>
      <html outputDirectory="coverage/" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="php-design-patterns">
      <directory suffix="Test.php">test</directory>
    </testsuite>
  </testsuites>
</phpunit>
